<h2>ログイン画面</h2>

<!--エラーメッセージ-->
 <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %> error"><%= message%></div>
 <% end %>

<%= form_for(:session, url: login_path) do |f| %>
<table>
  <tr>
      <div class="field">
      <td>
        <%= f.label :"メールアドレス:" %>
      </td>
      <td>
        <%= f.email_field :email, placeholder: 'email' %>
      </td>
      </div>
  </tr>
  <tr>
      <div class="field">
      <td>
        <%= f.label :"パスワード  :" %>
      </td>
      <td>
        <%= f.password_field :password, placeholder: 'password' %>
      </td>
      </div>
  </tr>
</table>
      <div class="actions">
        <%= f.submit "ログイン", class: 'button' %>
      </div>
    <% end %>

    <p>アカウントをお持ちでない場合は<%= link_to "こちら", new_user_path %></p>
