<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="all">
       <div class="headermenu">
          <%=link_to image_tag('logo.png', class: 'logo'), root_path %>
          <div class="menu">
            <%= render template: 'layouts/headermenu' %>
         </div>
      </div>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    
  </body>
    <div class="container">
      <div class = "main">
        <%= yield %>
      </div>
      <div class ="footer">
        Copyright © 2017 MyBlog All Rights Reserved.
      </div>

    </div>
  </div>
</body>
</html>
